<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
        <div class="col-sm-offset-4 col-sm-4"></div>
    </div>
</div>

<h1> You chose Paper </h1>

The computer chose <%= @computer_move %>

<%= @message %>
